<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button 
      defaultHref="/"
      color="primary">
       </ion-back-button>

    </ion-buttons>
    <ion-title >
      Mi diario
    </ion-title>
    <ion-button slot="end"> 
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="presentModal()">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
